h1 {

}

h2 {
  margin-bottom: 8px;
  @include font(m-large, 38, 500);
}

h3 {
  margin-bottom: 8px;
  @include font(s-large, 33, 500);
}

h4 {

}

h5 {

}

h1,h2,h3,h4,h5,h6{
  @include font-family(secondary);
}
