.s-contact-page {
  padding: 30px 0;
  @include mq(768) {
    padding: 90px 0;
  }
}

.s-contact-page__title {
  margin:20px 0;
  @include font(large, 24, 400);
  color: palette(secondary);
  text-align: center;
  @include mq(768) {
    margin:0 0 20px;
    text-align: left;
  }
}

.s-contact-page__image {
  img {
    margin: 0 auto;
    @include mq(768) {
      margin-left: auto;
    }
  }
}

.s-contact-page__form {
  .c-form {
    max-width: 380px;
    margin: 0 auto;
    @include mq(768) {
      margin: 0;
    }
  }
}

.s-contact-page__form {
  .c-form {
    input[type="text"], input[type="email"], textarea, select {
      border: 2px solid palette(secondary);
      border-radius: 0;
    }

    input[type="submit"] {
      max-width: 180px;
      margin:0 auto;
      background-color: palette(secondary);
      color: #fff;
      font-weight: 700;
      @include mq(768){
        margin: 0 0 0 auto;
      }
    }

    .wpcf7-acceptance {
      label {
        @include font(small, 16, 400);
      }
    }
  }
}


