.s-contact-banner {
  padding: 50px 0 40px;
  @include mq(768) {
    padding: 90px 0 70px;
  }
  @include mq(1200) {
    padding: 110px 0 90px;
  }

  .c-box-cta__image {

    @include mq(768) {
      display: flex;
      align-items: center;
    }

    img {
      margin: 0 auto;
      @include mq(768) {
        margin: 0;
      }
    }
  }

  .s-contact-banner__secondimg {
    margin-top: 20px;
    @include mq(768) {
      margin-top: 0;
    }
  }
}

.s-contact-banner__title {
  margin-bottom: 30px;
  @include mq(768) {
    margin-bottom: 0;
  }
}

.s-contact-banner__intro {
  max-width: 340px;
  margin: 0 auto;
  padding-top: 16px;
}