.s-what-inside {
  padding: 20px 0 30px;
  @include mq(768) {
    padding: 60px 0 54px;
  }

  .c-box-cta__image {
    margin-bottom: 26px;
    @include mq(768) {
      margin-bottom: 0;
    }
  }

  .c-section-intro__description {
    margin-bottom: 30px;
    @include mq(768){
      margin-bottom: 0;
    }
  }

  .c-box-cta__btn {
    text-align: center;

    a {
      display: inline-block;
    }

    @include mq(768) {
      text-align: left;
    }
  }
}

.s-what-inside__intro {
  margin-bottom: 30px;
  @include mq(768) {
    margin-bottom: 46px;
  }
}