.s-product-boxes {
  padding: 16px 0 50px;
  @include mq(768) {
    padding: 0;
  }

  .container {
    max-width: 800px;
  }

  .row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    @include mq(768) {
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }
}

.s-product-boxes__image {
  img {
    @include mq($max: 768) {
      margin: 0 auto 20px;
    }
  }
}

.s-product-boxes__content {
  text-align: center;
  @include mq(768) {
    text-align: left;
  }
}

.s-product-boxes__title {
  margin-bottom: 15px;
  @include font(mid-large, 24, 400);
  color: #000;
  @include mq(768) {
    margin-bottom: 28px;
    @include font(large, 24, 400);
  }

}

.s-product-boxes__description {

}