.s-testimonials {
  padding: 0 0 10px;
  @include mq(768) {
    padding: 0 0 50px;
  }
}

.s-testimonials__intro {
  margin-bottom: 50px;
}

.s-testimonials__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s-testimonials__slider {

  padding: 35px 20px 50px;

  .swiper-pagination {
    position: static;
    margin-top: 20px;
    text-align: center;

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      margin: 0 4px;

      &.swiper-pagination-bullet-active {
        background: palette(secondary);
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    display: none !important;
    @include mq(768) {
      display: flex;
    }

    &:after {
      font-size: 30px;
    }
  }

  .swiper-button-prev {
    left: 22px;
  }

  .swiper-button-next {
    right: 22px;
  }
}

.s-testimonials__title {
  margin-bottom: 30px;
  text-align: center;
}

.s-testimonials__img {
  img {
    margin: 0 auto;
  }
}