.s-hero-banner {
  padding: 0 0 55px;
}

.s-hero-banner__image {
  max-width: 500px;
  margin: 0 auto;
}

.s-hero-banner__content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 360px;
}

.s-hero-banner__content--desktop {
  @include mq($max: 480) {
    display: none;
  }
}

.s-hero-banner__content--mobile {
  @include mq(480) {
    display: none;
  }
}

.s-hero-banner__btn {
  margin-bottom: 40px;

  a {
    display: block;

    &:last-child {
      margin-top: 14px;
    }

    @include mq(480) {
      display: inline-block;
      &:last-child {
        margin-left: 14px;
      }
    }

  }
}

.s-hero-banner__content--mobile {
  //background-color: #D1CA99;
  margin: 0 -15px;
  width: calc(100% + 30px);
  .s-hero-banner__btn {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.s-hero-banner__content--mobile__image {

  img {
    width: 100%;
  }

}
