.s-subscribe {
  padding: 36px 0;
  @include mq(768){
    padding: 50px 0;
  }
}

.s-subscribe__intro {
  max-width: 570px;
  margin: 0 auto 24px;
  text-align: center;
  @include mq(768){
    margin: 0 auto 50px;
  }
}

.s-subscribe__form {
  max-width: 420px;
  margin: 0 auto;

  .subscribe-fields {

    @include mq(374){
      display: flex;
    }

    input[type="email"] {
     width: 100%;
      margin-bottom: 20px;
      padding: 6px 16px;
      @include font(base, 16, 400);
      color: #fff;
      border: 1px solid #fff;
      background: transparent;
      outline: none;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      @include mq(374){
        margin: 0;
        padding: 5px 16px;
        width: auto;
        flex-grow: 1;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include font(small, 12, 300);
        color: #fff;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        @include font(small, 12, 300);
        color: #fff;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        @include font(small, 12, 300);
        color: #fff;
      }

      &:-moz-placeholder { /* Firefox 18- */
        @include font(small, 12, 300);
        color: #fff;
      }
    }

    input[type="submit"] {
      width: 100%;
      padding: 5px;
      @include font(l-small, 25, 700);
      text-transform: uppercase;
      border: 1px solid #fff;
      background-color: #fff;
      color: palette(secondary);
      cursor: pointer;
      @include mq(374){
        width: 170px;
      }
    }
  }

  .subscribe-policy {
    margin: 12px 0 0;
    label {
      display: inline-block;
      @include font(m-small,16,400);
      color: #fff;
      cursor: pointer;
    }
  }
}