/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-400: #333333 !default;
$_color-primary-500: #212529 !default;


$_color-secondary-100: #e4f4f5 !default;
$_color-secondary-200: #d8e5fa !default;
$_color-secondary-400: #7b9be0 !default;
//$_color-secondary-500: #679ceb !default;
$_color-secondary-500: #0897F1 !default;


$_color-gray-200: #dddddd;
$_color-gray-300: #ced4da;
$_color-gray-400: #C4C4C4;
$_color-gray-500: #9e9b9b;


/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                400:$_color-primary-400,
                base: $_color-primary-500,
        ),
        'secondary': (
                100: $_color-secondary-100,
                200:$_color-secondary-200,
                400: $_color-secondary-400,
                base: $_color-secondary-500,
        ),
        'color-gray': (
                200:$_color-gray-200,
                300:$_color-gray-300,
                400:$_color-gray-400,
                base: $_color-gray-500,
        ),
);




