/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */

/**
 * Our base font-size and line-height
 */
$base-font-size: 16 !default;
$base-line-height: 24 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
        m-small: 10,
        m2-small: 11,
        small: 12,
        md-small: 13,
        l-small: 14,
        base: $base-font-size,
        mid: 18,
        mid-m: 19,
        mid-large: 20,
        m-mid-large: 22,
        large: 24,
        s-large: 28,
        sm-large: 30,
        m-large: 32,
        l-large: 36,
        l1-large: 39,
        x-large: 42,
        x1-large: 50,
        x1-mid-large: 70,
        x2-large: 120
);

/**
 *	Here we assign short names for the font families
 */
//$balsamiq: 'Balsamiq Sans', sans-serif;
$kiddy-kitty: 'kiddy-kitty', sans-serif;
$roboto: 'Roboto', sans-serif;
$nerko-one :'Nerko One', cursive;
$carter-one:'Carter One', cursive;
$freckle-face: 'Freckle Face', cursive;

$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
        base: $roboto,
        secondary :$freckle-face,
  // Fallback font
        system: $_font-system
);

