.u-white {
    color: #fff;
}

.u-primary {
    color: palette(primary);
}

.u-secondary{
    color:palette(secondary);
}

.u-bg-secondary {
    background-color: palette(secondary);
}

.u-bg-aqua{
    background-color: palette(secondary,100);
}

.u-bg-silver{
    background-color: palette(color-gray,300);
}
