.o-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background: #fff;
  z-index: 999;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  @include mq(1200) {
    padding: 6px 0;
  }

  &.fixed {
    //box-shadow: 0 5px 10px rgba(56, 75, 116, 0.1);
  }
}

.o-header__logo {
  line-height: 0;
  max-width: 140px;
  @include mq(1200) {
    max-width: 240px;
  }

  .custom-logo-link {
    display: inline-block;
  }
}

.o-header__menu {
  display: none;
  position: fixed;
  top:59px;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 10px 20px;
  background-color: #fff;
  box-shadow: 0 12px 10px rgba(56, 75, 116, 0.1);
  @include mq(768) {
    position: static;
    display: block !important;
    padding: 0;
    box-shadow: none;
  }
}

.o-header__mobile-btn {
  display: block;
  @include mq(768) {
    display: none;
  }

  width: 24px;
  height: 18px;
  position: relative;
  margin-left: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: palette(secondary);
    border-radius: 0;
    opacity: 1;
    left: auto;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
    }
  }
  &.is-open {
    span {
      height: 2px;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 6px;
      }
      &:nth-child(2) {
        width: 0;
      }
      &:nth-child(3) {
        width: 100%;
        top: 6px;
        transform: rotate(-45deg);
      }
    }
  }

}