.o-archive-products__header {
  padding: 50px 0;
  text-align: center;

  .page-description {
    max-width: 600px;
    margin: 0 auto;

    a {
      color: palette(secondary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.o-archive-products__subtitle {
  margin-bottom: 16px;
  @include font(base, 20, 600);
  color: palette(secondary);
  text-transform: uppercase;
}

.o-archive-products__title {
  margin-bottom: 14px;
  @include font(l-large, 40, 600);
}

.woocommerce {
  .o-archive-products__products {
    ul.products {
      li.product {
        position: relative;
        float: none !important;
        margin: 0 0 60px;
        width: 100%;
        text-align: center;

        .woocommerce-loop-product__link {
          display: block;
          & > img{
            display: none;
            @include mq(480){
              display: block;
            }
          }

          .woocommerce-loop-product__title {
            @include font(mid-large, 24, 600);
          }
        }

        .o-archive-product__link-view {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 40px;

          @include mq($max:480){
            width: 220px;
          }

        }
        .o-archive-product-mobile-image{
          display: block;
          @include mq(480){
            display: none;
          }
        }
      }
    }
  }
}
