.o-footer {
  padding: 26px 0 40px;
  @include mq(768){
    padding: 26px 0 32px;
  }
}

.o-footer__top {

  @include mq(768){
    padding: 30px 0 0;
  }
}

.o-footer__copyright {
  @include font(md-small, 20, 400);
  font-style: italic;
  color: palette(color-gray);
}

.o-footer__socials {

  .c-social-menu {
    margin:0 0 20px;
    .c-social-menu__list{
      justify-content: center;
    }
  }

  .c-widget__title {
    text-align: center;
  }

  @include mq(768) {
    margin: 0;
    .c-social-menu {
      margin: 0;
      .c-social-menu__list{
        justify-content: flex-start;
      }
    }
  }
}