.woocommerce{
  button[type="submit"]{
    @extend .c-button;
  }
  form .form-row label{

  }

  input[type="text"], input[type="tel"], input[type="email"], input[type="date"],input[type="password"], select {
    display: block;
    width: 100%;
    padding: 12px;
    @include font(base, 24, 400);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .15s ease-in-out;

    &:focus {
      //border-color: palette(secondary, 200);
      box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 1);
    }

    &.is-invalid {
      border-color: red;

      &:focus {
        box-shadow: 0 0 0 0.5px red;
      }
    }
  }

  select {
    height: 50px;
  }

  .col-1,.col-2{
    flex:none;
    max-width: 100%;
  }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce div.product form.cart .button{
  @extend .c-button;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
  color:palette(secondary);
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button{
 background-color: palette(secondary);
  &:hover{
    background-color: palette(secondary);
    opacity: 0.8;
  }
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
  background-color: palette(secondary);
  &:hover{
    background-color: palette(secondary);
    opacity: 0.8;
  }
}