.single-product {
  &.woocommerce {
    .woocommerce-breadcrumb {
      @extend .container;
    }

    #content {
      .o-product {
        padding: 30px 0;

        .o-product__thumbnails {
          margin-bottom: 48px;

          .images {
            float: none;
            width: 100%;
          }
        }

        .o-product__summary {
          text-align: center;

          .product_title {
            margin-bottom: 18px;
            @include font(sm-large, 24, 400);
            color: palette(secondary);
          }

          .summary.entry-summary {
            float: none;
            width: 100%;

            .price {
              display: inline-block;
              padding-right: 30px;
              @include font(mid-large, 20, 700);

              @include mq(576) {
                min-width: 180px;
                padding: 0;
                text-align: center;
              }
            }

            .quantity, .reset_variations, .woocommerce-variation-availability {
              display: none !important;
            }

            .woocommerce-product-details__short-description {
              margin-bottom: 30px;
              @include font(base, 24, 400);
              color: #000;
            }

            .woo-variation-items-wrapper {
              display: block;
              margin: 20px 0 40px;
            }

            .variable-items-wrapper {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              margin: -10px;

              @include mq(576) {
                flex-wrap: nowrap;
                margin: 0 -6px;
              }

              @include mq(768) {
                margin: 0 -10px;
              }

              .variable-item {
                width: calc(50% - 20px);
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: none;
                padding-bottom: 28px;
                //overflow: hidden;
                @include mq(576) {
                  padding: 0;
                  width: calc(25% - 6px);
                  margin: 0 3px;
                }
                @include mq(768) {
                  width: calc(25% - 20px);
                  margin: 0 10px;
                }

                &:before {
                  left: 0;
                  transform: none;
                  display: block;
                  padding: 8px 6px 6px;
                  bottom: -1px !important;
                  margin: 0;
                  width: 100%;
                  @include font(small, 14, 700);
                  text-transform: uppercase;
                  text-align: center;
                  opacity: 1;
                  visibility: visible;
                  border-radius: 0;
                  background-color: palette(color-gray, 400);
                  box-shadow: none;
                  z-index: 10;
                  @include mq(576) {
                    padding: 11px 6px 9px;
                    @include font(base, 19, 700);
                  }
                }

                &:after {
                  display: none !important;
                }

                &.selected {
                  border: 1px solid palette(secondary);

                  &:before {
                    width: calc(100% + 1px);
                    background-color: palette(secondary);
                  }
                }
              }
            }

            .single_variation_wrap {
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }
          }

          form.cart {
            text-align: center;

            .button {
              float: none;
            }
          }
        }

        .o-product__after{
          width: 100%;
          text-align: center;

          .single_add_to_cart_button{
            float: none;
          }

          .quantity, .reset_variations, .woocommerce-variation-availability {
            display: none !important;
          }
        }
      }
    }
  }

  .variations {
    .label {
      display: none !important;
    }
  }
}


