.woocommerce-account {
  .u-columns {
    & > div {
      flex: none;
      max-width: 100%;
    }
  }

  #customer_login {
    .u-column1.col-1 {
      display: none !important;
    }

    .u-column2.col-2 {
      width: 100%;
      float: none;
    }
  }

  .woocommerce-form-login {
    &.login {
      display: none !important;
    }
  }

  .c-login-popup__form {
    .woocommerce-form-login {
      &.login {
        display: block !important;
      }
    }
  }
}

.hidden-form-field {
  display: none !important;
}

label[for="account_first_name"] .required, label[for="account_last_name"] .required, label[for="account_display_name"] .required {
  display: none;
}


.woocommerce {
  .woocommerce-MyAccount-navigation {

    @include mq(768){
      max-width: 250px;
    }

    .woocommerce-MyAccount-navigation-link {
      line-height: 1;

      a {
        display: block;
        padding: 12px 6px;
        @include font(l-small, 16, 500);
        color: #000;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid palette(color-gray, 400);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #fff;
          background-color: palette(secondary);
        }
      }

      &.is-active {
        a {
          color: #fff;
          background-color: palette(secondary);
        }
      }
    }
  }
}


.woocommerce {
  .woocommerce-MyAccount-content {
    .woocommerce-EditAccountForm {
      &.edit-account {
        padding: 20px 15px;
        background-color: palette(secondary);
        @include mq(768){
          padding: 20px 60px;
        }

        label {
          color: #fff;
          cursor: pointer;
        }

        .c-radio-dog-size {
          margin-top: 30px;
        }

        .c-radio-dog-size__text{
          @include mq($max:480){
            @include font(m2-small,13,400);
          }
        }

        input[type="text"], input[type="date"] {
          background: transparent !important;
          color: #fff;
          border-color: #fff;
        }

        button[type=submit] {
          display: block;
          margin-top: 30px;
          margin-left: auto;
          background: #fff;
          color: palette(secondary);
        }

        .c-radio-dog-size input[type=radio]:checked + .c-radio-dog-size__img {
          background-color: #fff;
        }

        .c-register-radio-list__title, .c-register-radio-list__subtitle {
          @include font-family(primary);
          @include font(mid-large, 22, 700);
          color: #fff;
        }

        .user-account-image-wrapper {
          position: relative;
          margin: 0 auto 50px;
          max-width: 180px;

          label {
            position: absolute;
            top: calc(100% - 26px);
            right: 20px;
            display: block;
            width: 33px;
            height: 33px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;

            &:after, &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: block;
              background: palette(secondary);
            }

            &:after {
              width: 23px;
              height: 4px;
            }

            &:before {
              height: 23px;
              width: 4px;
            }
          }

          input[type="file"] {
            display: none;
            visibility: hidden;
            opacity: 0;
          }
        }

        .user-account-image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 180px;
          height: 180px;
          margin: 0 auto;
          border: 10px solid rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          overflow: hidden;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            background: #fff;
          }

          img {
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }
}

