.c-faq__item {
  //margin-bottom: 35px;
}

.c-faq__item {


  padding: 24px 0;

  border-top: 1px solid rgba(palette(secondary),0.2);


  &:first-child {
    padding-top: 0;
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  @include mq(480){
    max-width: 90%;
  }
}

.c-faq__heading-wrap {
  position: relative;
}

.c-faq__heading {
  padding-right: 20px;
  @include font-family(primary);
  @include font(mid-large, 24, 700);
  color: palette(primary);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  .is-active &{
    color: palette(secondary);
  }

  &:hover{
    color: palette(secondary);
  }
}

.c-faq__heading-icon {
  position: absolute;
  top: 6px;
  right: 0;

  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  &:after, &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: palette(secondary);
  }
  &:after {
    height: 2px;
    width: 100%;
    top: 7px;
    left: 0;
  }
  &:before {
    height: 100%;
    width: 2px;
    top: 0;
    left: 7px;
    opacity: 1;
    transform: rotate(0);
    transition: opacity 0.1s ease-in-out 0.5s, transform 0.4s ease-in-out;
    transition-delay: 0s;
  }
  .is-active & {
    &:before {
      opacity: 0;
      transform: rotate(-0.25turn);
      transition: opacity 0.1s ease-in-out 0.5s, transform 0.4s ease-in-out;
    }
  }

}

.c-faq__body {
  display: none;
  margin-top: 20px;
  p {
    margin-bottom: 12px;
    @include font(base, 24, 400);
    &:last-child {
      margin-bottom: 0;
    }

  }
.c-faq__item:first-child &{
  display: block;
}
}






