.c-radio-dog-size {
  display: flex;
  max-width: 700px;
  margin: 0 auto;

  label {
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      img {
        border-color: palette(primary, 400);
      }
    }
  }

  input {
    display: none;
  }

  .c-radio-dog-size__img {
    position: relative;
    border-radius: 4px;
    img {
      margin-bottom: 15px;
      border: 1px solid palette(color-gray, 200);
      border-radius: 4px;
      transition: border-color .3s;
    }

    &:after {
      content: "";
      position: absolute;
      left: -7px;
      top: -7px;
      width: 30px;
      height: 30px;

      opacity: 0;
      transition: opacity .3s;

      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .4);
      z-index: 1;
      border-radius: 100%;

      background-color: #000;
      background-image: url(../../img/check.svg);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
    }
  }

  input[type="radio"]:checked + .c-radio-dog-size__img {
    &:after {
      opacity: 1;
    }
  }
}

