.c-main-menu {

  @include mq(768){
    display: flex;
    align-items: center;
  }
}

.c-main-menu__list, .c-main-menu__secondary {
  .menu-item {
    display: block;
    @include mq(768){
      display: inline-block;
    }
    a {
      display: block;
      padding: 10px 15px;
      @include font(base, 24, 700);
      transition: all 0.2s ease-in-out;

      &:hover {
        color: palette(secondary);
      }
    }
    &.current_page_item{
      color:palette(secondary);
    }
  }
}

