.c-login-popup-wrapper {
  background: rgba(0, 0, 0, 0.3);
}

.c-login-popup {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

.c-login-popup__container {
  padding: 30px;
}


.c-login-popup__intro {
  margin-bottom: 30px;
}

.c-login-popup__title {
  text-align: center;
}

.c-login-popup__form {
  max-width: 500px;
  margin: 0 auto;

  .woocommerce-form-login {
    .form-row{
      width: 100%;
      float: none;
    }
    label {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      @include font(mid, 28, 400);
      text-transform: uppercase;
    }

    input[type="text"], input[type="password"] {
      display: block;
      width: 100%;
      padding: 6px 12px;
      @include font(base, 24, 400);
      border: none;
      border-bottom: 1px solid #000;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(103, 156, 235, .25);
      }
    }

    .woocommerce-form-login__rememberme {
      span {
        @include font(m-small, 12, 400);
        cursor: pointer;
      }
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      margin: 30px 0 20px;
      padding: 26px 10px;
      @include font(base, 16, 400);
      text-align: center;
      color: #fff;
      background-color: palette(secondary);
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .lost_password {
    margin: 0;
    a {
      @include font(md-small, 13, 400);

      &:hover {
        color: palette(secondary);
      }
    }
  }
}


/* start state */
.c-login-popup-wrapper.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;


  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.c-login-popup-wrapper.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.c-login-popup-wrapper.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.c-login-popup-wrapper.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.c-login-popup-wrapper.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.c-login-popup-wrapper.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}