.c-section-intro__title {
  margin-bottom: 16px;
  @include font(large,30,400);
  color:#000;
  text-transform: uppercase;
  img{
    display: inline-block;
  }
}

.c-section-intro__title--small{
  @include font(mid-large,30,400);
  color:#000;
  text-transform: uppercase;
}

.c-section-intro__title--big{
  @include font(m-mid-large,26,400);
  color:#000;
  text-transform: uppercase;

  @include mq(768){
    @include font(sm-large,36,400);
  }
}

.c-section-intro__description{
  @include font(base,20,400);
  color:#000;
}