.c-bottom-footer-menu{

}

.c-bottom-footer-menu__list{
  .menu-item{
    display: inline-block;
    a{
      @include font(md-small,20,400);
      font-style: italic;
      color:palette(color-gray);
    }
    &:not(:last-child){
      margin-right: 32px;
    }
  }
}