button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-button {
  display: inline-block;
  min-width: 180px;
  padding: 11px 15px 9px;
  @include font(base, 19, 700);
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  border-radius: 0 !important;
  border: 1px solid palette(secondary);
  background-color: palette(secondary);
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    //background-color: #fff;
    //color: palette(secondary, 400);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
  }
}

.c-button--outline {
  background-color: #fff;
  color: palette(secondary, 400);

  &:hover {
    color: #fff;
    background-color: palette(secondary);
  }
}

.c-button-desc {
  margin: 15px 0;
  font-style: italic;

  a {
    color: palette(secondary);
  }
}

.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}


