.c-form {
  input[type="text"], input[type="email"], textarea, select {
    display: block;
    width: 100%;
    padding: 6px 12px;
    @include font(base, 24, 400);
    background-color: #fff;
    border: 1px solid palette(color-gray, 300);
    border-radius: 4px;
    transition: all .15s ease-in-out;

    &:focus {
      border-color: palette(secondary, 200);
      box-shadow: 0 0 0 0.2rem rgba(103, 156, 235, .25);
    }
  }

  select {
    height: 38px;
    cursor: pointer;
  }
  textarea{
    resize: none;
  }

  label {
    display: block;
  }

  .wpcf7-acceptance {
    label {
      cursor: pointer;
    }
  }

  p{
    margin-bottom: 24px;
  }
  .wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    @include font(base, 16, 400);
    color: palette(secondary);
    text-align: center;
    border: 1px solid palette(secondary);
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;

    &:disabled {
      opacity: 0.6;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        background-color: palette(secondary);
        color: #fff;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}