.c-social-menu {
}

.c-social-menu__list {
  display: flex;
  margin: 0 -8px;
  padding: 0;
  list-style-type: none;
}

.c-social-menu__item {
  display: inline-block;
  padding: 0 8px;
  text-align: center;
  line-height: 1;
}

.c-social-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  color: #fff;
  background-color: palette(secondary);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    //background-color: palette(secondary);
    opacity: 0.8;
  }

  i {
    font-size: 20px;
  }
}