.c-register__step {
  display: none;

  &.is-active-step {
    display: block;
  }

  .c-register__row, .woocommerce-form-row.form-row.form-row-wide {
    margin: 0 0 24px;

    label {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      @include font(large, 28, 500);
    }

    input[type="text"], input[type="tel"], input[type="email"], input[type="date"], select {
      display: block;
      width: 100%;
      padding: 12px;
      @include font(base, 24, 400);
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 4px;
      transition: all .15s ease-in-out;

      &:focus {
        //border-color: palette(secondary, 200);
        box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 1);
      }

      &.is-invalid {
        border-color: red;

        &:focus {
          box-shadow: 0 0 0 0.5px red;
        }
      }
    }

    select {
      height: 50px;
    }

  }
}


.c-register__step {
  input[type="radio"] + label {
    cursor: pointer;
  }
}


.c-register__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.c-register__footer--first {
  justify-content: flex-end;
}

.c-register__footer--last {
  margin: 0;
}

.c-register-radio-list__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}


.woocommerce-form.woocommerce-form-register {
  button.woocommerce-form-register__submit {
    @extend .c-button;
  }
}

.c-register__step--last {
  .woocommerce-privacy-policy-text{
    margin-bottom: 35px;
  }
  .woocommerce-privacy-policy-text + .woocommerce-form-row {
    margin: 0;
    float: right;
    padding: 0;
  }
}


.c-register__bullets {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-register__bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: palette(color-gray);

  @include mq(768){
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }

  &.is-active {
    background-color: palette(secondary);
  }
}
