.c-image-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
  @include mq(768) {
    max-width: 100%;
  }
}

.c-image-box__thumb {
  margin-bottom: 18px;

  img {
    margin: 0 auto;
  }
}

.c-image-box__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.c-image-box__title {
  flex-grow: 1;
  margin:0 auto 10px;
  @include font(mid-large, 24, 400);
  color: palette(secondary);
  text-transform: uppercase;
  text-align: center;

  @include mq(1200){
    max-width: 290px;
  }
}

.c-image-box__description {
  @include font(l-small, 16, 400);
  color: #000;
  text-align: center;

  p {
    line-height: inherit;
  }
}