.c-widget {
  &.widget_nav_menu {
    //display: none;
    @include mq(768){
      display: block;
    }
    .menu {
      text-align: center;
      @include mq(768){
        text-align: left;
      }
      .menu-item {
        a {
          display: inline-block;
          @include font(md-small, 20, 400);
          color: #000;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.c-widget__title {
  margin-bottom: 8px;
  @include font-family(primary);
  @include font(md-small, 16, 700);
  color: palette(secondary);
  text-align: center;
  text-transform: uppercase;
  @include mq(768){
    text-align: left;
  }
}

.c-widget {
  &.widget_text {
    ul {
      li {
        a {
          img {
            max-width: 110px;
            margin: 0 auto;
            @include mq(768){
              max-width: 77px;
              margin: 0;
            }
          }
        }
        &:not(:last-child){
          margin-bottom: 15px;
        }
      }
    }
  }
}